<!DOCTYPE html>
<%= html_tag :lang => "en" do %>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%# Turbolinks... sigh. If you're going to remove this line, please make sure you know what
      you're doing. Please read very carefully: https://github.com/turbolinks/turbolinks %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <title><%= [@title, Sigbit::config.app_name].compact.join(" - ") %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "sigbit/application", media: "all", 'data-turbolinks-track': 'reload'%>
    <%= yield :styles %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <%= render 'layouts/sigbit/external_js_libs' %>
    <%= yield :external_js_libs %>
    <%= javascript_include_tag "sigbit/application", 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript %>
    <%= yield :head %>
    <%#= stylesheet_pack_tag 'admin/nodes/index' %>
    <%#= javascript_pack_tag 'admin/nodes/index' %>
  </head>
  <body class='<%= @body_class %>' data-js-libs='bootstrap fitie metis forms sidenav prism clipboard bs-switch <%= yield :js_libs %>' data-locale="<%= I18n.locale %>" data-current-node="<%= @node ? @node.id : 0 %>">
    <%= yield %>
  </body>
<% end %>
