!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sigbit
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    "sigbit/application", media: "all"
    = javascript_include_tag "sigbit/application"
  %body
    = render 'navigation'
    .container
      %h1 Backend
      %div
        %ul.nav-pills
          - I18n.available_locales.each do |locale|
            %li.nav-item
              = link_to "#{locale} #{locale == I18n.locale ? '<--' : ''}", url_for(locale: locale)
      = yield
