.card.card-sheet-down
  .card-body
    %h2= t('.title')
    = simple_form_for @node do |form|
      - if Sigbit::Contentable.included_in.count == 0
        .alert.alert-info
          = t('.no_content_types_available')
      - else
        = form.input :parent_id, collection: @dropdown, |
            label: t('activerecord.attributes.sigbit/node.parent_id'), |
            include_blank: false, |
            disabled: @node.persisted? ? [@node.id] + @node.descendant_ids : [], |
            hint: t('activerecord.attributes.sigbit/node.parent_hint'), |
            input_html: { id: 'new_form_parent_id_select' }

        = form.input :contentable_type, |
            collection: Sigbit::Contentable.included_in.select { |c| c.mountable_in_tree? }.map { |c| [I18n.t(c.model_name.i18n_key, scope: [:activerecord, :models]), c] }.sort, disabled: @parent.present? ? Sigbit::Contentable.included_in.select { |c| c.mountable_in_tree? } - (@parent&.available_content_types&.map { |a| a.constantize } || []) : [], include_blank: false, label: t('activerecord.attributes.node.contentable'), hint: t('activerecord.attributes.sigbit/node.contentable_hint')

        = form.input :menu_title, |
            label: t('activerecord.attributes.sigbit/node.menu_title'), |
            hint: t('activerecord.attributes.sigbit/node.menu_title_hint')

        = form.button :submit, class: 'btn btn-primary mt-4'
