= render partial: 'sigbit/nodes/partials/header', object: @node
= simple_form_for(@node, builder: MobilityFormBuilder, class: 'flex-grow-1') do |form|

  = tabs do |c|
    - c.tab t('.page-content') do
      = render partial: 'sigbit/nodes/partials/page_content', locals: { form: form, node: @node }

    - c.tab t('.seo') do
      = render partial: 'sigbit/nodes/partials/seo', locals: { form: form, node: @node }

    - c.tab t('.sorting'), li_class: 'mr-auto' do
      = render partial: 'sigbit/nodes/partials/sorting', locals: { form: form, node: @node }

    - c.tab t('.settings') do
      = render partial: 'sigbit/nodes/partials/settings', locals: { form: form, node: @node }

  = form.button :submit
