%h2= t('.title')

= simple_form_for @node do |form|
  = form.input :parent_id, collection: Sigbit::Node.all
  = form.input :menu_title
  = form.input :contentable_type, collection: Sigbit::Contentable.included_in.map { |c| [I18n.t(c.model_name.i18n_key, scope: [:activerecord, :models]), c] }.sort, include_blank: false, label: I18n.t('activerecord.attributes.node.contentable')
  = form.button :submit
