%div
  %header.pl-2.pr-2.pt-3.pb-4.d-flex.align-items-center
    = fa_icon_tag("#{header.contentable_icon} fa-4x")
    %div.ml-3.mr-auto
      %h3.m-0= header.menu_title
      %p.m-0
        %small
          URL:
          - link_to_page = "#{request.protocol}#{request.subdomains[0] + '.'}#{request.host}#{":#{request.port}" if Rails.env.development?}#{header.link_to_page}"
          = link_to link_to_page, link_to_page, target: '_blank'
    %div
      %span.border.border-dark.p-2.rounded
        = fa_icon_tag(header.contentable_icon)
        &nbsp;
        = t(header.contentable.class.name.underscore, scope: 'activerecord.models')

