= render 'sigbit/users/partials/header'
= simple_form_for @user do |form|
  .tab-content.bg-white.border.p-2.mb-4.h-100
    = form.input :email
    = form.input :password
    = form.input :password_confirmation
  = form.button :submit, class: 'btn btn-primary'
