= render 'sigbit/users/partials/header'
.card.card-sheet-down
  .card-body
    = simple_form_for @user do |form|
      = form.input :email
      - unless @user.persisted?
        = form.input :password
        = form.input :password_confirmation
      = form.input :image, as: :attachinary

      = form.button :submit, class: 'btn btn-primary'
